@import url(../runo/styles.css);
@charset "UTF-8";
@font-face{
	font-family: myriad_pro;
	src: url('assets/fonts/myriad_pro.otf');
}
@font-face{
	font-family: myriad_pro_bold;
	src: url('assets/fonts/myriad_pro_bold.otf');
}
.body {
	margin:0;
	padding:0;
	position:relative;
	font-family:'verdana';
}
.v-generated-body {
	background: #3a5e88 url('assets/sideBar_blue.png') repeat-x scroll 0 -1px;
}
.v-app {
	max-width: 960px;
	min-width: 627px;
	margin: 0 auto;
	background: #F0FBFF;
}

.currentView {
	border-top: 4px solid #00acf1;
}
/*Top Bar*/
.topButtonShell {  
	background: #FEFEFE;
}

.topButton {
	font-family:'myriad_pro_bold';
	font-size: 13px;
	color: #2B3D3C;
	background: #B2C4CA;
	margin: 3px 2px 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 10px;
}

.topButton:hover {
	background: #DBDFE4;
}

.topButton.v-disabled {
	background: #00acf1;
	opacity: 1;
}
.homeButton > div {
	background: url("icons/homeIcon.png") no-repeat transparent;
}
.publicButton > div {
	background: url("icons/publicIcon.png") no-repeat transparent;
}
.groupsButton > div {
	background: url("icons/smileIcon.png") no-repeat transparent;
}
.profileButton > div {
	background: url("icons/profileIcon.png") no-repeat transparent;
}
.messagesButton > div {
	background: url("icons/messageIcon.png") no-repeat transparent;
}

.smileLogo {
	margin-left: 14px;
}
.smileLogo img {
	padding-left: 0;
	margin: 3px 0px 0px -2px;
}
.smileLogo.active {
	background: #00acf1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px 10px 8px 10px;
	margin-top: 3px;
	margin-left: 4px !important;
}
.smileLogo.active img {
	margin: 5px 0px 0px -2px;
}

.cursor {
	cursor: pointer;
}

@media all and (max-width: 706px) {
  .smileLogo {
    display: none !important;
  }
}

.noselect, .questionDisplay { /* Prevent text selection */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
}
.linkMouseOver h2 {
	color: #0477E0;
}
.linkMouseOver:hover h2 {
	color: #00acf1;
}
.linkMouseOver:active h2 {
	color: #113355;
}
.red, .red .v-button-caption {
	color: #b51818;
}
a:link {
	color: #0477E0
}
a:visited {
	color: #0477E0
}
a:active {
	color: #00acf1
}
.feedback a {
	color: #103B96
}

.v-label-title {
	text-shadow: 0 1px 0 #464F52;
}
.v-absolutelayout.questionDisplay {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.v-absolutelayout.questionDisplay:active:not(.v-disabled) {
	background-position: 0px -65px;
}
.v-absolutelayout-grey.questionDisplay {
	background: url("assets/images/qd_bg.png");
	background-position: 0px 0px;
}
.v-absolutelayout-green.questionDisplay {
	background: url("assets/images/qd_bg_green.png");
}
.v-absolutelayout-blue.questionDisplay {
	background: url("assets/images/qd_bg_blue.png");
}
.v-absolutelayout-red.questionDisplay {
	background: url("assets/images/qd_bg_red.png");
}
.questionDisplay_correctText { /*As in 56% Correct*/
	font-size: 12px;
	color: #333333;
}
.questionDisplay_viewsText { /*As in Answered by 523*/
	font-size: 12px;
	color: #333333;
}
.inline-block {
	display: inline-block;
}
.bigMargin {
	margin: 20px 25px;
}
.margin {
	margin: 10px 15px;
}
.rightMargin {
	margin-right: 10px;
}
.topMargin {
	margin-top: 58px;
}
.alignTop {
	vertical-align: top;
}
.noPad {
	padding: 0px;
}
.inline {
	display: inline;
}
.block {
	display: block;
}
.lineHeightMid {
	line-height: 20px;
}
.breakWords {
	word-break: break-all;
}
.alignCenter {
	text-align:center;
}
.vAlignTop {
	vertical-align: top;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.questionText {
	text-align: left;
}
.v-csslayout-feedback {
	padding-top: 7px;
	margin-top: 2px;
}
.v-csslayout-feedback:active {
	background-position: 0px -30px;
}
.v-csslayout-feedback .v-label {
	color:#FFF;
}
.v-label-userBox {
	color: #FFF;
	font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.03em;
}
.v-tabsheet-tabitem-selected:hover {
color: #00acf1;
}
.v-tabsheet-tabitem:hover {
color: #00acf1;
}
.v-tabsheet-tabitem-selected {
color: #3D9AFF;
}
/*rating stars*/
div.v-ratingstars-bar {
	background-image: url(assets/ratingStars/star_bg_19x18_turquoise.gif);
	background-position: top left;
	background-repeat: repeat-x;
	position: absolute;				
	z-index: 0;
	border-right: 1px solid #9f9f9f;
	left: -1px;
}
div.v-ratingstars-wrapper.userAnswer .v-ratingstars-bar {
	background-image: url(assets/ratingStars/star_bg_19x18_blue.gif);
}

/*large rating stars - Copy to ratings Stars css on widget change*/
.v-ratingstars-wrapper-large .v-ratingstars-bar {
	background-image: url(assets/ratingStars/star_bg_34x33_blue.gif);
}
.v-ratingstars-wrapper-large .v-ratingstars-star {
	background-image: url(assets/ratingStars/star_34x33.png);
	width: 34px;
	height: 33px;
}
.v-ie6 .v-ratingstars-wrapper-large .v-ratingstars-star {
	/* gif instead of png for IE6 */
	background-image: url(assets/ratingStars/star_34x33.gif);
}

div.v-ratingstars-wrapper.qDisplay {
    float: left;
    background: none;
    padding: 3px;
    border: 0px;
    outline: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
} 

div.v-ratingstars-wrapper {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.v-ratingstars-wrapper.green .v-ratingstars-star {
	background-image: url("assets/ratingStars/star_19x18_green.png");
}
.v-ratingstars-wrapper.red .v-ratingstars-star {
	background-image: url("assets/ratingStars/star_19x18_red.png");
}
.v-ratingstars-wrapper.blue .v-ratingstars-star {
	background-image: url("assets/ratingStars/star_19x18_blue.png");
}
.v-ratingstars-wrapper.grey .v-ratingstars-star {
	background-image: url("assets/ratingStars/star_19x18_grey.png");
}
.v-menubar-userBox {
    border: none;
    border-left: 0px;
}
.v-menubar-userBox span.v-menubar-menuitem {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: none;
    height: 18px;
    padding: 1px 10px;
}
.v-menubar-userBox span.v-menubar-menuitem-selected {
    background: none;
}
.v-panel-caption {
	color: #0382CA;
}
.v-app, .v-window, .v-popupview-popup, .v-tooltip, .v-app input, .v-app select, .v-app button, .v-app textarea, .v-window input, .v-window select, .v-window button, .v-window textarea, .v-popupview-popup input, .v-popupview-popup select, .v-popupview-popup button, .v-popupview-popup textarea, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-drag-element, .v-table-header-drag {
	font-family:'myriad_pro';
	font-size: 16px;
}
.v-Notification-customErrorWindow {
	background: none repeat scroll 0 0 #b51818;
}
input.v-textfield, input.v-textfield[type="text"], textarea.v-textarea {
    font-size: 16px;
    height: 21px;
}

.v-button-smallerBtnFont .v-button-caption {
    font-size: 10pt;
    text-decoration:none;
}

.v-caption-smallerFont .v-captiontext {
   padding-top:3px;
   font-size: 10pt;
}

.v-button-caption {
    color: #222222;
    font-size: 15px;
}

#vv-errorText {
	color:red; 
}
.v-errorindicator {
	background: url("assets/images/redError.png") no-repeat scroll 50% center transparent;
	width: 20px;
}

.v-textarea-textCenter, .v-textfield-textCenter {
	height: 21px;
}
.header {
	background: white;
}
.mainLayout {
	background: white;
}
.root {
	background: white;
}

.centerCss .v-csslayout-container {
	text-align: center;
	padding: 20px 10px;
}

.centerCss .noPad .v-csslayout-container {
	padding: 0px;
}
.specialUserCSS {
	background-color: #C3E9C9;
    border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	line-height: 22px;
	color: #000000;
}
.badgeBox, .questionsCss {
	background-color: #DEDEDE;
    border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    text-align: center;
}
.badgeBlock {
	margin: 5px;
	background-color: #FFFFFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.badgeTitle {
	font-size: 16px;
	color: #0477E0;
}
.badgeDesc {
	font-size: 14px;
	color: #333333;
}
.messageNum span {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	background-color: #b51818;
	font-size: 11px;
	font-weight: normal;
}
.statsBox {
	background-color: #DEDEDE;
    border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.v-button-smallButton .v-button-wrap {
    border-right: 1px solid rgba(146, 151, 152, 0.8);
    border-style: solid;
    border-width: 1px;
    color: #464F52;
    display: block;
    font-size: 12px;
    line-height: 14px;
    min-height: 14px;
    overflow: hidden;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	-moz-border-radius: 11px;
    padding: 3px 9px;
}
.v-button-leftButton .v-button-wrap {
    border-right: 1px solid rgba(146, 151, 152, 0.8);
    border-style: solid;
    border-width: 1px;
    color: #464F52;
    display: block;
    font-size: 12px;
    line-height: 14px;
    min-height: 14px;
    overflow: hidden;
    border-radius: 11px 0px 0px 11px;
    -webkit-border-radius: 11px 0px 0px 11px;
    -moz-border-radius: 11px 0px 0px 11px;
    padding: 3px 9px;
}
.v-button-defaultRedLeft .v-button-wrap {
    border-right: 1px solid rgba(146, 151, 152, 0.8);
    border-style: solid;
    border-width: 1px;
    color: #464F52;
    display: block;
    font-size: 12px;
    line-height: 14px;
    min-height: 14px;
    overflow: hidden;
    border-radius: 11px 0px 0px 11px;
    -webkit-border-radius: 11px 0px 0px 11px;
    -moz-border-radius: 11px 0px 0px 11px;
    padding: 3px 9px;
}
.v-button-rightButton .v-button-wrap {
    border-right: 1px solid rgba(146, 151, 152, 0.8);
    border-style: solid;
    border-width: 1px;
    color: #464F52;
    display: block;
    font-size: 12px;
    line-height: 14px;
    min-height: 14px;
    overflow: hidden;
    border-radius: 0px 11px 11px 0px;
    -webkit-border-radius: 0px 11px 11px 0px;
    -moz-border-radius: 0px 11px 11px 0px;
    padding: 3px 9px;
}
.v-button-squareButton .v-button-wrap {
    border-right: 1px solid rgba(146, 151, 152, 0.8);
    border-style: solid;
    border-width: 1px;
    color: #464F52;
    display: block;
    font-size: 12px;
    line-height: 14px;
    min-height: 14px;
    overflow: hidden;
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
    padding: 3px 9px;
}
.v-readonly.whiteBg, .v-label-whiteBg, .v-verticallayout-whiteBg {
	background: #FFFFFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.v-label.titleLabel {
	font-size: 18px;
	font-weight: normal;
}
.v-button-defaultRed span.v-button-wrap { /*Works with Runo only*/
	background: url("button/img/bgBlue.png") repeat-x scroll 0 0 #00acf1;
	text-shadow: 0 1px 0 #00acf1;
}
.v-button-defaultRed span.v-button-caption { /*Works with Runo only*/
	color: #FFFFFF;
}.v-button-defaultRedLeft span.v-button-wrap { /*Works with Runo only*/
	background: url("button/img/bgBlue.png") repeat-x scroll 0 0 #00acf1;
	text-shadow: 0 1px 0 #00acf1;
}
.v-button-defaultRedLeft span.v-button-caption { /*Works with Runo only*/
	color: #FFFFFF;
}
.public_searchButton {
	background: url("button/goButton.png") transparent;
}
.public_searchButton :hover {
	background: url("button/goButton_over.png") transparent;
}
.public_searchButton :active {
	background: url("button/goButton_down.png") transparent;
}
.usernameText {
	
}
.userNameText_disabled {
    color: #999999;
}
.avatar img {
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
/*v-panel without borders*/
.v-panel-caption.noBorders {
    background: none;
}
.v-panel.noBorders, .v-panel-nocaption-noBorders {
    background: none;
}
.v-panel-content-noBorders {
	border-width: 0px;
}
.v-panel-deco-noBorders, .v-panel-deco-noBorders:before {
	background: none;
}
.v-radiobutton {
	margin: 10px 0px 0px 0px;
}
.smallFont, .smallFont input {
	font-size: 13px;
}

.v-upload .v-button, .v-upload .v-button-wrap { /*make upload button small*/
	font-size: 11px;
    line-height: 13px;
    min-height: 13px;
    padding: 1px 12px;
}
/*Disabled optiongroups should still show full text*/
.v-radiobutton.v-disabled {
	opacity: 1;
}
/*Wrap option group text*/
.v-select-optiongroup .v-select-option {
  text-indent: -22px;
  padding-left: 22px;
}
.v-select-optiongroup .v-select-option label {
  white-space: normal;
}
.v-table.noResize .v-table-resizer {
	width: 0px;
}
.v-Notification-custom {
	background: none repeat scroll 0 0 #FFF1E4;
    border: 2px solid #FFAA90;
    color: #DD3400;
}
.v-panel-queue {
	position: fixed;
	top: 0px;
	z-index: 999999;
}
.v-panel-content-queue strong {
	font-size: 20px;
}
.v-panel-content-queue .v-label {
	font-size: 16px;
}
.queue .v-csslayout.error .v-csslayout-margin {
	background: #DD3400;
	color: #FFFFFF;
	border: 0px;
}
.queue .v-csslayout.success .v-csslayout-margin {
	background: #30751D;
	color: #FFFFFF;
	border: 0px;
}
.queue .v-csslayout.info .v-csslayout-margin {
	background: #0E7DCC;
	color: #FFFFFF;
	border: 0px;
}
.queue .v-csslayout.message .v-csslayout-margin {
	background: #4D4D4D;
	color: #FFFFFF;
	border: 0px;
}
.queue .v-csslayout.warning .v-csslayout-margin {
	background-color: #FFDD00;
	color: #383100;
	border: 0px;
}
.queue .v-csslayout-item.item .v-csslayout-margin {
	padding: 8px 8px 16px 14px;
}

.greyBg {
	background-color: #f7b82f;
}

.v-button-multiline .v-button-caption {
   white-space: normal;
}


/*!
 * Bootstrap v2.2.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}

[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("images/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}
.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:url("icons/glyphicons-halflings-white.png");}
.icon-glass{background-position:0 0;}
.icon-music{background-position:-24px 0;}
.icon-search{background-position:-48px 0;}
.icon-envelope{background-position:-72px 0;}
.icon-heart{background-position:-96px 0;}
.icon-star{background-position:-120px 0;}
.icon-star-empty{background-position:-144px 0;}
.icon-user{background-position:-168px 0;}
.icon-film{background-position:-192px 0;}
.icon-th-large{background-position:-216px 0;}
.icon-th{background-position:-240px 0;}
.icon-th-list{background-position:-264px 0;}
.icon-ok{background-position:-288px 0;}
.icon-remove{background-position:-312px 0;}
.icon-zoom-in{background-position:-336px 0;}
.icon-zoom-out{background-position:-360px 0;}
.icon-off{background-position:-384px 0;}
.icon-signal{background-position:-408px 0;}
.icon-cog{background-position:-432px 0;}
.icon-trash{background-position:-456px 0;}
.icon-home{background-position:0 -24px;}
.icon-file{background-position:-24px -24px;}
.icon-time{background-position:-48px -24px;}
.icon-road{background-position:-72px -24px;}
.icon-download-alt{background-position:-96px -24px;}
.icon-download{background-position:-120px -24px;}
.icon-upload{background-position:-144px -24px;}
.icon-inbox{background-position:-168px -24px;}
.icon-play-circle{background-position:-192px -24px;}
.icon-repeat{background-position:-216px -24px;}
.icon-refresh{background-position:-240px -24px;}
.icon-list-alt{background-position:-264px -24px;}
.icon-lock{background-position:-287px -24px;}
.icon-flag{background-position:-312px -24px;}
.icon-headphones{background-position:-336px -24px;}
.icon-volume-off{background-position:-360px -24px;}
.icon-volume-down{background-position:-384px -24px;}
.icon-volume-up{background-position:-408px -24px;}
.icon-qrcode{background-position:-432px -24px;}
.icon-barcode{background-position:-456px -24px;}
.icon-tag{background-position:0 -48px;}
.icon-tags{background-position:-25px -48px;}
.icon-book{background-position:-48px -48px;}
.icon-bookmark{background-position:-72px -48px;}
.icon-print{background-position:-96px -48px;}
.icon-camera{background-position:-120px -48px;}
.icon-font{background-position:-144px -48px;}
.icon-bold{background-position:-167px -48px;}
.icon-italic{background-position:-192px -48px;}
.icon-text-height{background-position:-216px -48px;}
.icon-text-width{background-position:-240px -48px;}
.icon-align-left{background-position:-264px -48px;}
.icon-align-center{background-position:-288px -48px;}
.icon-align-right{background-position:-312px -48px;}
.icon-align-justify{background-position:-336px -48px;}
.icon-list{background-position:-360px -48px;}
.icon-indent-left{background-position:-384px -48px;}
.icon-indent-right{background-position:-408px -48px;}
.icon-facetime-video{background-position:-432px -48px;}
.icon-picture{background-position:-456px -48px;}
.icon-pencil{background-position:0 -72px;}
.icon-map-marker{background-position:-24px -72px;}
.icon-adjust{background-position:-48px -72px;}
.icon-tint{background-position:-72px -72px;}
.icon-edit{background-position:-96px -72px;}
.icon-share{background-position:-120px -72px;}
.icon-check{background-position:-144px -72px;}
.icon-move{background-position:-168px -72px;}
.icon-step-backward{background-position:-192px -72px;}
.icon-fast-backward{background-position:-216px -72px;}
.icon-backward{background-position:-240px -72px;}
.icon-play{background-position:-264px -72px;}
.icon-pause{background-position:-288px -72px;}
.icon-stop{background-position:-312px -72px;}
.icon-forward{background-position:-336px -72px;}
.icon-fast-forward{background-position:-360px -72px;}
.icon-step-forward{background-position:-384px -72px;}
.icon-eject{background-position:-408px -72px;}
.icon-chevron-left{background-position:-432px -72px;}
.icon-chevron-right{background-position:-456px -72px;}
.icon-plus-sign{background-position:0 -96px;}
.icon-minus-sign{background-position:-24px -96px;}
.icon-remove-sign{background-position:-48px -96px;}
.icon-ok-sign{background-position:-72px -96px;}
.icon-question-sign{background-position:-96px -96px;}
.icon-info-sign{background-position:-120px -96px;}
.icon-screenshot{background-position:-144px -96px;}
.icon-remove-circle{background-position:-168px -96px;}
.icon-ok-circle{background-position:-192px -96px;}
.icon-ban-circle{background-position:-216px -96px;}
.icon-arrow-left{background-position:-240px -96px;}
.icon-arrow-right{background-position:-264px -96px;}
.icon-arrow-up{background-position:-289px -96px;}
.icon-arrow-down{background-position:-312px -96px;}
.icon-share-alt{background-position:-336px -96px;}
.icon-resize-full{background-position:-360px -96px;}
.icon-resize-small{background-position:-384px -96px;}
.icon-plus{background-position:-408px -96px;}
.icon-minus{background-position:-433px -96px;}
.icon-asterisk{background-position:-456px -96px;}
.icon-exclamation-sign{background-position:0 -120px;}
.icon-gift{background-position:-24px -120px;}
.icon-leaf{background-position:-48px -120px;}
.icon-fire{background-position:-72px -120px;}
.icon-eye-open{background-position:-96px -120px;}
.icon-eye-close{background-position:-120px -120px;}
.icon-warning-sign{background-position:-144px -120px;}
.icon-plane{background-position:-168px -120px;}
.icon-calendar{background-position:-192px -120px;}
.icon-random{background-position:-216px -120px;width:16px;}
.icon-comment{background-position:-240px -120px;}
.icon-magnet{background-position:-264px -120px;}
.icon-chevron-up{background-position:-288px -120px;}
.icon-chevron-down{background-position:-313px -119px;}
.icon-retweet{background-position:-336px -120px;}
.icon-shopping-cart{background-position:-360px -120px;}
.icon-folder-close{background-position:-384px -120px;}
.icon-folder-open{background-position:-408px -120px;width:16px;}
.icon-resize-vertical{background-position:-432px -119px;}
.icon-resize-horizontal{background-position:-456px -118px;}
.icon-hdd{background-position:0 -144px;}
.icon-bullhorn{background-position:-24px -144px;}
.icon-bell{background-position:-48px -144px;}
.icon-certificate{background-position:-72px -144px;}
.icon-thumbs-up{background-position:-96px -144px;}
.icon-thumbs-down{background-position:-120px -144px;}
.icon-hand-right{background-position:-144px -144px;}
.icon-hand-left{background-position:-168px -144px;}
.icon-hand-up{background-position:-192px -144px;}
.icon-hand-down{background-position:-216px -144px;}
.icon-circle-arrow-right{background-position:-240px -144px;}
.icon-circle-arrow-left{background-position:-264px -144px;}
.icon-circle-arrow-up{background-position:-288px -144px;}
.icon-circle-arrow-down{background-position:-312px -144px;}
.icon-globe{background-position:-336px -144px;}
.icon-wrench{background-position:-360px -144px;}
.icon-tasks{background-position:-384px -144px;}
.icon-filter{background-position:-408px -144px;}
.icon-briefcase{background-position:-432px -144px;}
.icon-fullscreen{background-position:-456px -144px;}

.label-bs,.badge{display:inline-block;padding:2px 4px;font-size:11.844px;font-weight:bold;line-height:14px;color:#ffffff;vertical-align:baseline;white-space:nowrap;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#999999;}
.label-bs{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.badge{padding-left:9px;padding-right:9px;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
a.label-bs:hover,a.badge:hover{color:#ffffff;text-decoration:none;cursor:pointer;}
.label-bs-important,.badge-important{background-color:#b94a48;}
.label-bs-important[href],.badge-important[href]{background-color:#953b39;}
.label-bs-warning,.badge-warning{background-color:#f89406;}
.label-bs-warning[href],.badge-warning[href]{background-color:#c67605;}
.label-bs-success,.badge-success{background-color:#468847;}
.label-bs-success[href],.badge-success[href]{background-color:#356635;}
.label-bs-info,.badge-info{background-color:#3a87ad;}
.label-bs-info[href],.badge-info[href]{background-color:#2d6987;}
.label-bs-inverse,.badge-inverse{background-color:#333333;}
.label-bs-inverse[href],.badge-inverse[href]{background-color:#1a1a1a;}
.label-bs{font-size:14px;font-weight:normal;line-height:20px;}
/*.label-bs{display:block;margin-bottom:5px;}*/
.v-radiobutton .label-bs {
	padding: 2px 4px 2px 25px;
}
